{% extends "layout.html" %}
{% block content %}


<style>
    .name {
        margin-bottom: 2em;
    }

        {
        margin-left: 1em;
    }

    .btn-danger:hover {
        background-color: rgba(238, 16, 16, 0.938);
        color: white;
    }


    .photo {
        width: 250px;
    }

    .col-md .card {
        /* Animation */
        transition: transform .2s;
    }

    .col-md .card:hover {

        transform: scale(1.05);
    }
</style>



<!-- Personal information  -->
</div>
<div class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="photo col-sm-4">
            <center>
                <img src="{{user.profile_pic}}" class="img-fluid rounded-circle" alt="profile_photo" width="250px"
                    height=250px>
                <br><br>
            </center>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-2 name">
                    <center>
                        {{user.name}}
                    </center>
                </div>
            </div>


            <div class="card">
                <div class="card-footer">
                    Email : {{user.email}}
                </div>
            </div>

            <div class="card">
                <div class="card-footer">
                    Age : {{user.age}}
                </div>
            </div>

            <div class="card">
                <div class="card-footer">
                    Nationality : {{user.nationality}}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- End of first row -->
    </div>



    <!-- Projects Contributed -->
    <center>
        <hr>
        <h1 style="background-color: rgba(0, 128, 0, 0.808);color:white; padding:.5em;width:100%;"> Projects
            Contributed
        </h1>
        <hr>
    </center>
    {% if anyContributed %}
    <!-- Put card section here -->
    <div class="container" style="margin-top: 2em;">
        <div class="row">
            {% for contributed in contributed_list %}
            <div class="col-md" style="margin-top: 1.5em;display: inline-block">
                <a href="{{ url_for('each_post', isDonation = True ,p_id = contributed.id ,
                 isDonated = True, new_petition = 'none') }}"
                    style="text-decoration: none;font-family: 'Rubik', sans-serif;color:black">
                    <div class="card">
                        {%if contributed.image %}
                        <img src="../{{contributed.image}}" class="img-fluid" alt="" width="100%" height="300px">
                        {%else %}
                        <img src="//placehold.it/200" class="img-fluid" alt="" width="300px" height="300px">
                        {% endif%}
                        <div class="card-body">
                            <h5 class="card-title">{{contributed.title}}</h5>
                            <hr>
                            {%set list_of_par1 = contributed._par1.split()%}
                            <p class="card-text">{{' '.join(list_of_par1[:25])}} <br> RM 500 </p>
                        </div>
                    </div>
                </a>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <br><br>

    <div class="container">
        <div class="col text-center bg-dark text-light" style="padding: 5em">
            Start contributing on
            <a href="{{url_for('each_category',category='Donation')}}">
                ForestUs !
            </a>
        </div>
    </div>

    <br><br>
    {%endif%}

    <div class="col-md-1"></div>

    <!-- Projects contributing -->
    <div class="container" style="margin-top: 2em">
        <center>
            <hr>
            <h1 style="background-color: rgba(0, 128, 0, 0.808);color:white; padding:.5em;width:100%;"> Projects
                Contributing</h1>
            <hr>
        </center>

        {% if anyContributing %}
        <!-- Put card section here -->
        <div class="container" style="margin-top: 2em;">
            <div class="row">
                {% for contributing in contributing_list %}
                <div class="col-md" style="margin-top: 1.5em;display: inline-block">
                    <a href="{{ url_for('each_post', isDonation = True ,p_id = contributing.id,
                     isDonated = True, new_petition = 'none')}}"
                        style="text-decoration: none;font-family: 'Rubik', sans-serif;color:black">
                        <div class="card">
                            {%if contributing.image %}
                            <img src="../{{contributing.image}}" class="img-fluid" alt="" width="100%" height="300px">
                            {%else %}
                            <img src="//placehold.it/200" class="img-fluid" alt="" width="300px" height="300px">
                            {% endif%}
                            <div class="card-body">
                                <h5 class="card-title">{{contributing.title}}</h5>
                                <hr>
                                {%set list_of_par1 = contributing._par1.split()%}

                                <p class="card-text">{{' '.join(list_of_par1[:25])}} <br> RM 500 </p>
                            </div>
                        </div>
                    </a>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>

        {% else %}
        <br><br>

        <div class="container">
            <div class="col text-center bg-dark text-light" style="padding: 5em">
                Start contributing on
                <a href="{{url_for('each_category',category='Donation')}}">
                    ForestUs !
                </a>
            </div>
        </div>

        <br><br>
        {%endif%}
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
    </div>
</div>

</div>
{% endblock content %}